.ticket {
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #302f36;
	cursor: pointer;
	transition: 0.22s;
}

.ticket:hover {
	background-color: #0a0a0a;
}

.actionIcon {
	border-radius: 8px;
}

.actionIcon:hover {
	border: 0.5px solid #808389;
}
