.ticketContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #302f36;
	cursor: pointer;
	transition: 0.22s;
}

.ticketContainer:hover {
	background-color: #0a0a0a;
}

.ticketFooter {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 16px;
}

.actionIcon {
	border-radius: 8px;
}

.actionIcon:hover {
	border: 0.5px solid #808389;
}

.drawerContainer {
	width: 500px;
	padding: 20px 0;
}